<!-- CIS444
	 mainpage.css
	 Programmers:
            Alejandro Quinones Gamboa
            Brian Richey
            Daniel B. Martinez
            Dustin Tabar
            Mohammed Ghadimzadeh
            Robert Painter
-->

ul {
	item-align:center;
  list-style-type: none;
  width:auto;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  width:auto;
  font-family: 'Courier New', monospace;
  margin:auto;
  text-decoration: none;
}

li a:hover {

  background-color: #111;
}
h2{
background: #00008B;
font-family: 'Courier New', monospace;
text-align:center;
width:auto;
font-size:50px;
margin:center;
height:100px;
padding:20x 20x;
color:#DAA520;
}
