/* CIS444
	 beer_dashboard.css
	 Programmers:
            Alejandro Quinones Gamboa
            Brian Richey
            Daniel B. Martinez
            Dustin Tabar
            Mohammed Ghadimzadeh
            Robert Painter
*/

body {
  background-color: black;
}

ul {
	
item-align:center;
  list-style-type: none;
  width:auto;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:relative;
}

li {
  float: left;
}

li a {
  display: block;
  color: #DAA520;
  text-align: center;
  padding: 14px 16px;
  width:auto;
  font-family: 'Courier New', monospace;
  margin:auto;
  text-decoration: none;
  font-weight: bold;
  border:white;
}

li a:hover {
border:white;
  background-color: #111;
}
h2{
background:#778899;
background-image: linear-gradient(#778899, #333);
font-family: 'Courier New', monospace;
text-align:center;
width:auto;
font-size:50px;
margin:auto;
height:100px;
padding:20px 20px;
color: #DAA520;
font-weight: bold;
}

html { 
  background: #778899 no-repeat center center fixed;
  background-image: linear-gradient(90deg,#778899, #333);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.beerImg {
	height: 200px;
	width: 220px;
}

.image {
  max-height: 100%;
  max-width:100%;
  height:auto;
}

footer {
  text-align: center;
    padding: 10px;
    background-color: black;
    color: #00b2ee;  ;
}

.image1 {
  float: left;
}

.image2 {
  float: right;
}
